<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spy.server.mapper.ShopRatingMapper">

    <resultMap id="BaseResultMap" type="com.spy.server.model.domain.ShopRating">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="shopId" column="shopId" />
            <result property="score" column="score" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,shopId,score,createTime,updateTime,
        isDelete
    </sql>
</mapper>
